<template>
  <div class="">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/static/img/bg6.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <h1 class="title">{{title}}</h1>
          <div class="text-center">
            <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h2 class="title">About Us</h2>
            <p>{{about}}</p>
            <button class="btn btn-info " v-on:click="joinUs">Not a member? Register Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        about: 'Deba solution Ltd is a CASHFLOW® club that creates an environment where participants can learn the RICH DAD® programs in Kenya.\n' +
        'Deba Coaching and Financial education Training is designed to increase your financial literacy and helps you build a personalized cashflow plan.\n' +
        '“Our current education system has not been able to keep pace with the global and technological changes in the world today, we must teach our young people the skills both scholastic and financial that they will need not only to survive, but flourish in the world they face” Robert Kiyosaki \n' +
        'Our programs are about strengthening your thoughts (BEING) so that you can take action (DOING) that will enable you become financially free (HAVING)\n' +
        'RICH DAD® Education Workshop\n' +
        'RICH DAD® Education has been a leading provider of educational training workshops, conferences, and service for over twenty years based on Robert Kiyosaki’s International Best seller Rich Dad Poor Dad. The company provides students with comprehensive instructions and mentoring in Real Estate and financial instruments training in the United States, Canada, and United Kingdom and across the world.\n' +
        'We create an environment for our student to take control of their financial future by providing them with reality based training and time tested resources designed to help them achieve the level of financial independence they desire. Most people say they want to be rich, but only a select few will take Action and invest in Finacial Education necessary to make their dreams a reality. Its your choice, you can be one of the select few who take action.\n'
      }
    }
  }
</script>

<style>

</style>
