<template>
<div class="">
  <div class="page-header page-header-image">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/static/img/bg6.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">It is your story we are waiting for.</h1>
       <h4>Email it to us through : story@debasolutions.com</h4>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style>

</style>
