<template>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <router-link :to="{name: 'Blog'}">Blog</router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        (c) Deba Solution 2017 |
        Developed by <a href="https://www.fluidtechglobal.com" target="_blank">Fluid Tech Global</a>.
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style>

</style>
