<template>
  <div>
    <nav-bar></nav-bar>
    <!-- End Navbar -->
    <div class="wrapper">
     <router-view></router-view>
     <footer-bar></footer-bar>
    </div>
  </div>
</template>

<script>
  import Nav from './Nav.vue'
  import Footer from './Footer.vue'
  export default {
    data () {
      return {
      }
    },
    components: {
      'nav-bar': Nav,
      'footer-bar': Footer
    }
  }
</script>

<style>

</style>
