<template>
  <div class="">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/static/img/bg6.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <h1 class="title">{{title}}</h1>
          <div class="text-center">
            <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h2 class="title">Who we are?</h2>
            <h5 class="description">{{about}}</h5>
            <button class="btn btn-info btn-round" v-on:click="readAboutUs">Read more</button>
            <button class="btn btn-danger btn-round" v-on:click="joinUs">Join Us</button>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left">
                <!-- First image on the left side -->
                <img src="/static/img/login.jpg" alt="" class="rounded img-fluid img-raised">
                <p class="blockquote blockquote-primary">"{{quote}}"
                  <br>
                  <br>
                  <small>-{{by}}</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container">
                <img src="/static/img/calc.jpg" alt="" class="img-fluid rounded img-raised">
              </div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right">
                <img src="/static/img/clock.jpeg" alt="" class="rounded img-fluid img-raised">
              </div>
              <h3>A Rich Dad story</h3>
              <p>A Rich Dad story
                Life is about choice. When I was just nine years old, I made my choice to be rich. I had two fathers, a rich one and a poor one. My real father, my poor dad, was highly educated and intelligent with a PhD. My best friend's father, my rich dad, never finished the eighth grade. Both men were successful in their careers, working hard all their lives. Both earned substantial incomes, yet one always struggled financially. The other would become one of the richest men in Hawaii. One died leaving tens of millions of dollars to his family, charities, and church. The other left bills to be paid. Both men offered me advice, but they did not advise the same things. Both men believed strongly in education but did not recommend the same course of study.
                If I had had only one dad, I would have had to accept or reject his advice. Having two dads offered me the choice of contrasting points of view: one of a rich man and one of a poor man.
                Instead of simply accepting or rejecting one or the other, I found myself thinking more, comparing, and then choosing for myself. The problem was that the rich man was not rich yet, and the poor man was not yet poor. Both were just starting out on their careers, and both were struggling with money and families. But they had very different points of view about money.
                At the age of nine, I chose not to listen to my poor dad, even though he was the one with the college degrees. I decided to listen to and learn from my rich dad about money. In other words, I chose to be rich. The lessons that I learned from him are the lessons that I share.
                When we are young, choices are generally made for us. As we grow and mature, we learn to make our own choices, a slow, steady process fraught with both joy and frustration. Now it’s time to make one of the most whether to take control of your critical decisions of your life finances. Why critical? Because if you take control of your finances, it will empower you to shape a new life for yourself. This choice is really a series of smaller decisions. The decision to change your financial future is a mere preliminary. The decision to follow up, renewed each day you open your eyes, is the more critical choice. Will you see your choice through to the end?
                But first things first. It’s time to take stock of your financial situation. In the pages that immediately follow, you’ll be confronting your fears, your stale habits of thinking, and other hidden obstacles that, until now, have prevented you from getting ahead. You’ll be making an inventory of your strengths and your passions, those things you’ve always possessed but never acknowledged, whose power can lead you out of your financial maze. And you’ll encounter new thoughts on the idea of money, thoughts meant to harness those inner strengths and steer you on the road to your dreams.
                Rich dad said: “All of us have the power of choice. I choose to be rich, and I make that choice every day.”

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        title: 'Elevating the financial well-being of humanity',
        about: 'Deba solution Ltd is a CASHFLOW® club that creates an environment where participants can learn the RICH DAD® programs in Kenya.\n' +
        'Deba Coaching and Financial education Training is designed to increase your financial literacy and helps you build a personalized cashflow plan.',
        quote: 'Finance is not merely about making money. It\'s about achieving our deep goals and protecting the fruits of our labor. It\'s about stewardship and, therefore, about achieving the good society. \n',
        by: 'Robert J. Shiller'
      }
    },
    methods: {
      readAboutUs: function () {
        this.$router.push({
          name: 'AboutUs'
        })
      },
      joinUs: function () {
        this.$router.push({
          name: 'Register'
        })
      }
    }
  }
</script>

<style>

</style>
