<template>
  <!-- Navbar -->
  <nav class="navbar navbar-toggleable-md bg-white fixed-top navbar-transparent " color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <router-link class="dropdown-item" :to="{name: 'Register'}">Register</router-link>
          <a class="dropdown-item" href="http://elearning.debasolutions.com">E learning</a>
        </div>
      </div>
      <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
        <router-link  class="navbar-brand" rel="tooltip"  data-placement="bottom" :to="{name: 'Index'}"> Deba Solutions</router-link>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="/static/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link " :to="{name: 'Register'}"><button class="btn btn-info btn-round btn-sm">Register</button></router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://elearning.debasolutions.com"><button class="btn btn-danger btn-round btn-sm">E learning</button></a>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name: 'ContactUs'}"><button class="btn btn-default btn-round btn-sm">Contact Us</button></router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
              <i class="fa fa-twitter"></i>
              <p class="hidden-lg-up">Twitter</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="hidden-lg-up">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
              <i class="fa fa-instagram"></i>
              <p class="hidden-lg-up">Instagram</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style>

</style>
