<template>
  <div>
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/static/img/bg6.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <h1 class="title">This is our great company.</h1>
          <div class="text-center">
            <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-contact-us text-center">
      <div class="container">
        <h2 class="title">Register with Us</h2>
        <p class="description">A journey to constant success starts through Knowledge.</p>
        <div class="row">
          <div class="col-lg-6 text-center offset-lg-3 col-md-8 offset-md-2">
            <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
              <input type="text" class="form-control" placeholder="First Name...">
            </div>
            <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
              <input type="text" class="form-control" placeholder="Last Name...">
            </div>
            <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
              <input type="text" class="form-control" placeholder="Email...">
            </div>
            <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_bell-53"></i>
                            </span>
              <input type="text" class="form-control" placeholder="2547...">
            </div>

            <div class="send-button">
              <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style>

</style>
